
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imgs/harvey3.jpg"></div>
  </div>

    <div class="container">
      <div class="section">
				<!-- <h5>ABOUT ABC AIKIDO</h5> -->
        <div class="row">
          <div class="col s12 center"></div>

          <div class="col s12 left">
            <h6 class="left-align">

							<p>A full-time professional martial arts school located in Northern California, ABC Aikido is dedicated to promoting Aikido according to the principles taught by the founder, Morihei Ueshiba, under the guidance of Yoshimitsu Yamada Shihan, Chief Instructor of the United States Aikido Federation (USAF). We work on developing clean technique through vigorous flowing practice as well as harmonizing mind and body through meditation and breathng to redirect the energy of the opponent.</p>

              <p>ABC Aikido is a USAF member dojo in good standing and maintain direct ties to the Aikido Hombu Dojo (World Headquraters) in Tokyo, Japan. Visitors with all levels of experience are welcome to train with us. </p>

            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

