
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imgs/endo11.jpg"></div>
  </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>

          <div class="col s12 left">
            <h6 class="left-align">
           
							<p>ABOUT ABC AIKIDO</p>

							<p>Carefully hidden away within the heart of San Francisco's historic Downtown district, ABC Aikido offers all the convenience of the big city while preserving the more reserved nature of a traditional Japanese dojo. Our facility provides our students with a variety of amenities to make their training more enjoyable.  A spacious mat area, dressing rooms with showers, and a relaxing common room, all help to afford a comfortable yet traditional experience.

              The teaching lineage at ABC Aikido is a strong one, and it is easily traced back to the founder of the art, Ueishiba Morihei (O’Sensei). We are a United States Aikido Federation member dojo in good standing and maintain direct ties to the Aikido Hombu Dojo (World Headquraters) in Tokyo, Japan. ABC Aikido welcomes visitors with all levels of experience; both seasoned practitioners and first-time students alike will find our dojo community to be welcoming, helpful, and ready to train!

              Our central location provides for easy access from the city's main traffic arteries, SEPTA's bus, subway, & regional rail lines, as well as the bridges from New Jersey.  For out of town visitors, the dojo is within walking distance of many Philadelphia hotels and there's plenty of parking available in our immediate vicinity.

              We look forward to your visit!</p>

							<p>At ABC Aikido, we work on developing the physical body through vigorous flowing practice as well as on calming the inner self through breathing and continued focus on one’s center.  This results in connecting through motion.</p>

							<p>We also believe in creating a positive energy within the local community by fostering cooperation, connectedness and use of non-aggressive means to resolve conflict.  The emphasis of our martial arts practice is on “ki musubi” or the binding together of energy as opposed to resistance or clashing of energy.</p>

							<p>ABC is a member of the United States Aikido Federation and is affiliated with and the Aikido World Headquarters at Hombu Dojo in Japan.</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

