<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/tohei-nage.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'> ADULT PROGRAM </h5>
        <h6 class='left-align'>
        <p>

				Our adult program offers an exciting and challenging curriculum suited for practitioners of all experience levels.  Our teaching philosophy allows for all of our students to train together regardless of rank or experience. A beginner at our dojo will train in the same classes as everyone else, but from the first day they will receive one-to-one personal instruction from one of our senior students. New students will continue in this manner until they are ready to stand on their own. We believes strongly in the philosophy of raising new students together with the rest of the community rather than isolating them in “beginner” classes. Our experienced and professional teaching staff is trained to make sure that students of all levels receive the proper guidance and supervision.</br></br>

				Advanced students however sometimes need to work at a higher level. For this reason ABC Aikido does offer advanced classes reserved for students 3rd kyu and above. Our adult class schedule is flexible and offers training options from Monday through Saturday. Most of our classes are in the evening but we do have some morning and afternoon options available, and more will be added soon. Anyone who is interested in learning more about the adult program at ABC Aikido may call, email, or stop by the dojo during class hours for more information.
				</p></h6>
  </div>
</div>
