<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    
    <!-- <div class="row"><div class="container"><h2 class="left">ADULT CLASSES</h2></div></div> -->

    <div class="parallax"><img src="imgs/doshu6.JPG">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- <h5 class='center'> ADULT PROGRAM </h5> -->
      
​      <h5 class="light">
        Aikido is a dynamic, physical martial art that emphasizes fluidity and continuity of motion without sacrificing power. Aikido is practiced by men and women, young and old, and requires no exceptional fitness level to begin learning. In an aikido class, you can expect to both perform techniques and to receive them from other students -- to take turns as "nage" and "uke."</h5>

        <h5 class='light'>The adult program is comprehensive and dynamic and offers a curriculum suited for practitioners of all experience levels. A strong foundation in weapons training and fluid style of ukemi give students the tools to progress and practice Aikido at the highest level. As you train, you will begin to notice and appreciate how these techniques build on each other, and share common concepts and movements. ABC Aikido is a friendly environment in which to begin or continue training, as personal limits, boundaries, and injuries are always respected.</h5>

        <h5 class="light">Our class schedule is flexible and offers training options seven days a week. Private lessons and small-group lessons are also available. Anyone who is interested in learning more about the adult program at ABC Aikido may call, email, or stop by the dojo during class hours for more information.
				</h5>

  </div>
</div>
