
  <div class="divider"></div>

  <div id="about" class="row"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 left">
          <!-- <h5>AIKIDO</h5> -->
          </div>
          <div class="col s6 center">
            <p><img src="imgs/osensei.jpg" height="350px" width="300px"></p>
          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Aikido is a Japanese martial art created by Morihei Ueshiba (b. 1883, d. 1969). Now referred to as "O-Sensei", or Great Teacher, Ueshiba studied and became an expert in many traditional forms of martial arts, among them kendo and ju-jitsu. In the 1930's, O-Sensei established his own art, one significantly different from the old schools. This art would eventually become known by the term Aikido.</p>
              
              <p>The word "Aikido" is formed of three kanji (Japanese characters):</br>
              
						  合 - ai - joining, harmonizing</br>
						  氣 - ki - spirit, life energy</br>
						  道 - dō - way, path</br>
						</p>
            <p>Thus, Aikido can be translated as The Way of Harmonious Energy. O-Sensei realized that winning at the expense of another's defeat was not a victory at all. As a result of that revelation, O-Sensei took the martial skills he had mastered, and created from them an entirely new discipline. In Aikido techniques, we blend with our attacker rather than fighting head on, avoiding direct opposition. Instead, the attacker's energy is redirected or evaded. The attack leads either to a throw or an immobilizing pin, and care is taken to maintain the most harmonious outcome towards the aggressor. The attacker learns quickly that he will only hurt himself with his aggression.</p>

            <p>Nearly all Aikido movements are circular in nature. Even movements that appear to be direct and straight have spiraling motions embedded. Aikido can be extremely vigorous, dynamic, and powerful. It is also quite difficult to execute properly, despite the ease of execution that casual observer may see from an experienced Aikido practitioner.</p>

            <p>Training is demanding and serves as a platform for both physical and spiritual development. Ultimately, one who takes this path receives from Aikido what they give to it.</p>
					</h6>
				</div>

       </div>
      </div>
     </div>
    </div>
  </div>


