  <div class="divider"></div>

  <div id="about" class="row"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 left">
          </div>
          <div class="col s6 center" >
            <p><img src="imgs/osensei.jpg" class="responsive-img"></p>
          </div>
          <div class="col s6 center">

            <p class="left-align">
              Aikido is a Japanese martial art created by Morihei Ueshiba (b. 1883, d. 1969). Now referred to as "O-Sensei", or Great Teacher, Ueshiba studied and became an expert in many traditional forms of martial arts such as kendo and ju-jitsu. In the 1930's, O-Sensei established his own art, one significantly different from the old schools. This art would eventually become known as Aikido.</p>
              
            <p class="left-align">
              Aikido consists of both self-preservation techniques and the physical, psychological, and philosophical precepts that these techniques embody.             Aikido practice can be extremely vigorous, dynamic, and powerful. It is also quite difficult to execute properly, despite the ease of execution that casual observer may see from an experienced Aikido practitioner. Training is demanding and serves as a platform for both physical and spiritual development. Ultimately, those who take this path receive from Aikido what they give to it.
					  </p>
				  </div>
       </div>
      </div>
     </div>
    </div>
  </div>
