
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu7.JPG">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'> CHILDREN'S PROGRAM </h5>
        <h6 class='left-align'>
        <p>The ABC Aikido children’s program is focused on working with children between the ages of 6 and 13 to improve listening skills, discipline, alertness, self-confidence, and of course, learn Aikido! We have a great bunch of kids and the parents are very engaged as well. It is a wonderful environment to learn and share and become a member of an Aikido family.</br></br>

				Students in the program will learn not only basic aikido techniques, but also a variety of skills and principles through physical exercise and mental discipline. The curriculum imparts the necessary etiquette and respect for tradition while helping them to foster sensitivity and patience towards their fellow students. On the mat, the physical aspect of training provides kids with a positive outlet for their energy, while our experienced instructors make sure that the energy is expended in a focused and good-natured way!</br></br>

				Our children’s program uses colored belts to visually denote the progress of a child, helping to keep them excited and engaged. Aikido as a martial art embodies the very nature of cooperation and harmony, therefore, our children will never spar or compete with one another for trophies or other such awards; Aikido is the pursuit of self-victory, and we nurture our students to understand this ideal.
</br></br>
				Parents are always welcome to bring their children to observe a class or to participate. The Children’s program currently meets twice a week, please see the schedule for details.
				</p></h6>
  </div>
</div>
