
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/dojo.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center"></div>
        <div class="col s12 left">
          <!-- <h5 class="center-align">Dojo Etiquette</h5> -->
          <h6 class="left-align">

						<h5>General rules of conduct</h5>
						
						<p><strong>Bowing</strong></p>

						In the dojo (place of practice), respect is expressed in the form of bowing, as is done in traditional martial arts culture. Bowing in the dojo is a purely cultural, non-religious, expression of respect.

						A picture of O-Sensei and that of other late grand masters are displayed in the shomen (front of the dojo). Respect and gratitude to O-Sensei for his legacy are expressed in the form of bowing.

						<p>Bowing occurs on multiple occasions in the dojo, including:</p>

						<li>Upon entering or leaving the dojo: the bow is executed standing up, bare head, arms along the side of the body and facing towards the shomen.</li>
						
						<li>Upon stepping onto or off of the tatami (mats): kneel down in seiza (sitting on the heels with the back straight), and bow to the shomen with both hands on the mat in front of you. </li>

						<li>At the beginning and end of class: everybody will line up facing the shomen, sitting quietly; then bow together to the shomen and to the instructor.</li>
						
						<li>Before and after practicing with a training partner (during or after class): bow to each other in seiza.</li>

						<p><strong>Classes</strong></p>

						<li>Never practice with impaired faculties.</li>
		
						<li>Be on time for class. If you arrive late, sit quietly in seiza on the edge of the mat until the instructor grants permission to join practice.</li>

						<li>Do not engage in rough-housing or needless contests of strength during class.</li>
						
						<li>Avoid sitting on the mat with your back to the picture of O Sensei or sit with your legs stretched out in the direction of O Sensei.</li>
						
						<li>During class, communicate through your movements, rather than by chat, to preserve others' concentration.</li>

						<li>Do not coach, or teach others, unless the instructor asks for your help.</li>

						<li>In the dressing room or off the tatami, do not be loud and do not distract those who practice.</li>

						<li>Have all nails cut short and remove any jewelry or anything sharp before stepping on the tatami.</li>

						<li>Take good care of your personal hygiene and use a clean gi (uniform) every day at the dojo.</li>

						<li>Remember that you are here to learn, and not to gratify your ego. An attitude of receptivity and humility is advised.</li></br>
​
						<strong>Dojo Tasks</strong>

						<p>The dojo has no employees. The dojo needs to be maintained and kept immaculately clean. This is every member's responsibility. Tatami need special care and must be cleaned at least once a day, usually after class. All members are expected to help keep all parts of the dojo neat and orderly at all times--including the mat, floors, entrance area, bathrooms, and inside the locker rooms. No permission is required to help with cleaning. Observe and ask questions to the sensei or senior students, who will be happy to guide you through the cleaning process.</p>
        </h6>
      </div>
    </div>
  </div>
</div>

