
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/miyamoto1.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

        <!-- <h5> Check back soon for upcoming seminars and dojo events </h5> -->

          <h5>ABC Aikido is hosting a Weapons Intensive on Saturday September 29th, 2018. It will be a mixture of open hand techniques and weapons (bokken and jo) that will help improve the overall technical aspects of a practitioner’s Aikido capability. </br>
            </h5>
          </br>
          <div class="row">
            <div class="col s6 center">

              <p>The event is open to all Aikido and martial arts practitioners of any level. </br></br>
              It is free to view and the cost to participate is $45 for a half day and $65 for the full day. </br></br>The schedule is as follows: </br>Registration begins at 9:00am </br>
        			Morning Session: 10:00am - 11:00am 11:15am - 12:15pm </br>Lunch Break </br>Afternoon Session: 2:00pm - 3:00pm 3:10pm – 4:00pm </br>Please also join us for a Potluck Celebration Party after the last class!</p>

            </div>

            <div class="col s6 center">
              <img src="imgs/miyamoto1.jpg">
            </div>
          </div>
    </div>
  </div>

  <!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div> -->
    <!-- <div class="parallax"><img src="imgs/miyamoto1.jpg"> -->
    </div>
  </div>
