
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/etiquette.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">
        
        <!-- <h5>ABC Aikido hosts seminars led by world-class shihan and sensei. Please check this page for upcoming events.</h5><br><br> -->

        <h5>ABC Aikido will be hosting a seminar with <a href="http://shinshintoitsuaikido.org/english/about/koichi.html">Koichi Tohei </a>Sensei, 10th Dan, on October 5-7, 2015.</br>
        </br></h5>
          <div class="row">
            <div class="col s6 left">

              <h5>The cost is $130 for the weekend and $40 per class. </br></br>

              Keiko:</br>
              Friday 6pm - 8pm </br>
        			Saturday 10am - 12pm & 2pm - 4pm </br>
              Sunday 10am - 12pm </br></br>

              Please also join us for a Potluck Celebration Party Saturday night!</br>
              </h5>
            </div>
            <div class="col s6 center">
              <p><img src="imgs/tohei-tamura.jpg" class="responsive-img"></p>
              <p>Nage: Koichi Tohei Uke: Nobuyoshi Tamura</p>
            </div>
          </div>
    </div>
  </div>

  <!-- <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div> -->
    <!-- <div class="parallax"><img src="imgs/miyamoto1.jpg"> -->
    </div>
  </div>
