

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">

          	<div class="col s5">
            	<p><img src="imgs/aikido.jpg" height="200px" width="200px" class="responsive-img"></p>	
 		        </div>
        
          <div class="col s7">
          <table class="striped responsive-table">
          <thead>
              <th>MEMBERSHIP</th>
              <th>REGISTRATION</th>
              <th>MONTHLY DUES</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Aikido (Adult)</td>
              <td>$50</td>
              <td>$90</td>
            </tr>
            <tr>
              <td>Aikido (Student)</td>
              <td>$50</td>
              <td>$50</td>
            </tr>
            <tr>
              <td>Iaido</td>
              <td></td>
              <td>$60</td>
            </tr>
            <tr>       
              <td>Iaido (with Aikido membership)</td>
              <td></td>
              <td>$30</td>
            </tr>
          </tbody>
        </table>
        <p><strong>Visitors</strong></p>
        <p>The mat fee for a single class is $20.Visitors new to aikido and thinking of joining ABC Aikido are welcome to take up to four single classes at $15 each before registering as a member.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


