
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">

          <div class="col s12 center"></div>

          	<div class="col s6">
            	<p><img src="imgs/endo8.jpg" height="300px" width="350px" class="responsive-img"></p>
            	
 		        </div>
          

          <div class="col s6">
            <h6 class="left-align">
							<p>
            	Aikido Monthly Dues:</br>	
							Regular $90.00</br>
							Students $50.00</br>
							Children: $50.00
							</p>
							<p>
							Iaido Monthly Dues:</br>
							Iaido only $75.00</br>
							Iaido with Aikido membership $30.00
							</p>
							<p>
							Special Rate/Paid in advance</br>
							Regular $900/year</br>
							Students $160/semester</br>
							</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

