
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">

          <div class="col s12 center"></div>

          	<div class="col s6">
            	<p><img src="imgs/aikido.jpg" height="200px" width="200px" class="responsive-img"></p>
            	
 		        </div>
          

          <div class="col s6">
            <h6 class="left-align">
							<p>
            	Aikido Monthly Dues (unlimited classes):</br>	
							Regular $90</br>
							Students $50</br>
							</p>
							<p>
							Iaido Monthly Dues:</br>
							Iaido only $75</br>
							Iaido with Aikido membership $30
							</p>
							<p>
							Special Rate/Paid in advance:</br>
							Regular $900/year</br>
							</p>
              <!-- <p>Private/Semi-private lesson: $75/hour</br> -->
              </br>
              </p>



            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

