
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/iaido.jpg"></div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
            <!-- <p><img src="imgs/iaido.jpg" height="320px" width="300px"></p> -->

            <div class="col s3">
              <p><img src="imgs/muso.jpeg" width="70em" height=""></p>
            </div>
          <div class="col s9 center">
            <h6 class="left-align">
              <p>
                Iaido is a sword-based Japanese martial art that trains the motions associated with drawing a sword from its scabbard or saya, striking or cutting an opponent, removing blood from the blade, and then replacing the sword in the scabbard or saya. </br> </br>

                This is all performed with smooth, controlled movements. Modern day iaido exponents typically use iaito instead of a real sword or shinken, at least in their beginning stages of study.</br></br>

                Iaido is performed individually against one or more imaginary opponents in pre-arranged situations (kata) and with a metal blade.  The primary emphasis in Iaido, is on the psychological state of being present. </br></br>

                The secondary emphasis is on drawing the sword and responding to the sudden attack as quickly as possible. Starting positions can be from combative postures or from everyday sitting or standing positions. The ability to react quickly from different starting positions was considered essential for a samurai.</br></br>

                ABC Aikido is a member of <a href="http://www.sanshinkai.org"> North American San Shin Kai </a>. Iaido classes are held Thursday evenings and Sunday mornings.
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

