
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
      </div>
    </div>
    <!-- <div class="row"><div class="container"><h2 class="center">IAIDO</h2></div></div> -->
    <div class="parallax"><img src="imgs/iaido.jpg"></div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
            <!-- <p><img src="imgs/iaido.jpg" height="320px" width="300px"></p> -->

            <div class="col s3">
              <p><img src="imgs/muso.jpeg" width="100em" class="responsive-img"></p>
            </div>
          <!-- <div class="col s9 center"> -->
            <h5 class="light">Iaido is a sword-based Japanese martial art that trains the motions associated with drawing a sword from its scabbard or saya, striking or cutting an opponent, removing blood from the blade, and then replacing the sword in the scabbard or saya. Beyond physical exercise, Iaido demands intense mental concentration.</h5>

            <h5 class="light">ABC Aikido teaches the Muso Shinden Ryu style of Iaido. Created by Hakudo Nakayama in the early 1900's, Muso Shinden Ryu consists of techniques from Omori Ryu and Eishin Ryu. The Iaidoka develops the mind towards an ultimately peaceful, harmonious, and active state ready to react and deal with any life situation. Classes are open to beginners 15 years of age and up. </h5>

            <h5 class="light">ABC Aikido is a member of <a href="http://www.sanshinkai.org"> North American San Shin Kai. </a></h5>
            
          <!-- </div> -->
        </div>

<!--         <div class="row">
          <div class="col s6">
            <h5>SHODEN - OMORI RYU 初伝 大森流 </h5>
              <h5 class="light">1 SHOHATTO 初發刀</h5>
              <h5 class="light">2 SATO 左刀</h5>
              <h5 class="light">3 UTO 右刀</h5>
              <h5 class="light">4 ATARITO 當刀</h5>
              <h5 class="light">5 INYOSHINTAI 陰陽進退</h5>
              <h5 class="light">6 RYU TO 流刀</h5>
              <h5 class="light">7 JUN TO 順刀</h5>
              <h5 class="light">8 GYAKU TO 逆刀</h5>
              <h5 class="light">9 SEICHU TO 勢中刀</h5>
              <h5 class="light">10 KORAN TO 虎亂刀</h5>
              <h5 class="light">11 INYOSHINTAI KAWEWAZA 陰陽進退 替業</h5>
              <h5 class="light">12 NUKIUCHI 拔打</h5>
          </div>
        
          <div class="col s6">
            <h5>CHUDEN - HASSENGAWA ISSEN RYU 中伝 長谷川英信流</h5>
              <h5 class="light">1 YOKOGUMO 橫雲</h5>
              <h5 class="light">2 TORA NO ISSOKU 虎一足
              </h5>
              <h5 class="light">3 INAZUMA 稻妻</h5>
              <h5 class="light">4 UKI GUMO 浮雲</h5>
              <h5 class="light">5 YAMAOROSHI 山颪</h5>
              <h5 class="light">6 IWANAMI 岩浪</h5>
              <h5 class="light">7 UROKOGAESHI 鱗返</h5>
              <h5 class="light">8 NAMIGAESHI 浪返</h5>
              <h5 class="light">9 TAKIOTOSHI 瀧落</h5>
              <h5 class="light">10 NUKIUCHI 拔打</h5>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <h5>OKUDEN - SUWARI WAZA 奧伝 坐業</h5>
              <h5 class="light">1 KASUMI 霞</h5>
              <h5 class="light">2 SUNE KAGYOI 脛囲</h5>
              <h5 class="light">3 TOZUME 戶詰</h5>
              <h5 class="light">4 TOWAKI 戶脇</h5>
              <h5 class="light">5 SHIHO GIRI 四方切</h5>
              <h5 class="light">6 TANASHITA 棚下</h5>
              <h5 class="light">7 RYO ZUME 兩詰</h5>
              <h5 class="light">8 TORABASHIRI 虎走り</h5>
          </div>

          <div class="col s6">
            <h5>OKUDEN - TACHI WAZA 奧伝 立業</h5>
              <h5 class="light">1 RENTATSU 練達 </h5>
              <h5 class="light">2 UKI ZURI 行連</h5>
              <h5 class="light">3 SO MAKURE 惣捲</h5>
              <h5 class="light">4 SO DOME 惣留</h5>
              <h5 class="light">5 SHINOBU 信夫</h5>
              <h5 class="light">6 YUKICHIGAI 行違 </h5>
              <h5 class="light">7 SODE TSURI GAESHI 袖摺返 </h5>
              <h5 class="light">8 MONGYU 門入</h5>
              <h5 class="light">9 KABEZOI 壁沿</h5>
              <h5 class="light">10 UKE NAGASHI 受流</h5>
          </div>
        </div> -->
      </div>
    </div>
  </div>

