
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
      </div>
    </div>
    <!-- <div class="row"><div class="container"><h2 class="center">IAIDO</h2></div></div> -->
    <div class="parallax"><img src="imgs/iaido.jpg"></div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
            <!-- <p><img src="imgs/iaido.jpg" height="320px" width="300px"></p> -->

            <div class="col s3">
              <p><img src="imgs/muso.jpeg" width="100em" class="responsive-img"></p>
            </div>
          <!-- <div class="col s9 center"> -->
            <h5 class="light">Iaido is a sword-based Japanese martial art that trains the motions associated with drawing a sword from its scabbard or saya, striking or cutting an opponent, removing blood from the blade, and then replacing the sword in the scabbard or saya. Beyond physical exercise, Iaido demands intense mental concentration.</h5>

            <h5 class="light">ABC Aikido teaches the Muso Shinden Ryu style of Iaido. Created by Hakudo Nakayama in the early 1900's, Muso Shinden Ryu consists of techniques from Omori Ryu and Eishin Ryu. The Iaidoka develops the mind towards an ultimately peaceful, harmonious, and active state ready to react and deal with any life situation. Classes are open to beginners 15 years of age and up. </h5>

            <h5 class="light">ABC Aikido is a member of <a href="http://www.sanshinkai.org"> North American San Shin Kai. </a></h5>
            
          <!-- </div> -->
        </div>

        <div class="row">
          <div class="col s6">
            <h5>SHODEN - OMORI RYU</h5>
              <h5 class="light">1 SHOHATTO</h5>
              <h5 class="light">2 SATO</h5>
              <h5 class="light">3 UTO</h5>
              <h5 class="light">4 ATARITO</h5>
              <h5 class="light">5 INYOSHINTAI</h5>
              <h5 class="light">6 RYU TO</h5>
              <h5 class="light">7 JUN TO</h5>
              <h5 class="light">8 GYAKU TO</h5>
              <h5 class="light">9 SEICHU TO</h5>
              <h5 class="light">10 KORAN TO</h5>
              <h5 class="light">11 GYAKUTE INYOSHINTAI</h5>
              <h5 class="light">12 NUKIUCHI</h5>
          </div>
        
          <div class="col s6">
            <h5>CHUDEN - HASSENGAWA ISSEN RYU</h5>
              <h5 class="light">1 SHOHATTO</h5>
              <h5 class="light">2 SATO</h5>
              <h5 class="light">3 UTO</h5>
              <h5 class="light">4 ATARITO</h5>
              <h5 class="light">5 INYOSHINTAI</h5>
              <h5 class="light">6 RYU TO</h5>
              <h5 class="light">7 JUN TO</h5>
              <h5 class="light">8 GYAKU TO</h5>
              <h5 class="light">9 SEICHU TO</h5>
              <h5 class="light">10 KORAN TO</h5>
          </div>
        </div>

        <div class="row">
          <div class="col s6">
            <h5>OKUDEN - SUWARI WAZA</h5>
              <h5 class="light">1 SHOHATTO</h5>
              <h5 class="light">2 SATO</h5>
              <h5 class="light">3 UTO</h5>
              <h5 class="light">4 ATARITO</h5>
              <h5 class="light">5 INYOSHINTAI</h5>
              <h5 class="light">6 RYU TO</h5>
              <h5 class="light">7 JUN TO</h5>
              <h5 class="light">8 GYAKU TO</h5>
          </div>

          <div class="col s6">
            <h5>OKUDEN - TACHI WAZA</h5>
              <h5 class="light">1 SHOHATTO</h5>
              <h5 class="light">2 SATO</h5>
              <h5 class="light">3 UTO</h5>
              <h5 class="light">4 ATARITO</h5>
              <h5 class="light">5 INYOSHINTAI</h5>
              <h5 class="light">6 RYU TO</h5>
              <h5 class="light">7 JUN TO</h5>
              <h5 class="light">8 GYAKU TO</h5>
              <h5 class="light">9 SEICHU TO</h5>
              <h5 class="light">10 KORAN TO</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

