<html>
	<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu.JPG">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">Adult Classes</h5>

            <p class="light">The Adult Programis both comprehensive and dynamic. A strong foundation in weapons training as well as our fluid style of ukemi, gives students the tools they will need to practice Aikido at the highest level. Seasoned Aikido practitioners as well as new students are always welcome to come and practice!</p>
          <!-- </div> -->
        </div>

        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">group</i></h2> -->
            <h5 class="center">Children's Program</h5>

            <p class="light">The Children’s Program at ABC Aikido is fun and challenging and helps to instill the virtues associated with traditional martial arts practice. The kids in our youth program are never asked to compete with one another for sport or trophies, rather, they learn to work together toward the common goal of learning Aikido.</p>
          <!-- </div> -->
        </div>

        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2> -->
            <h5 class="center">Visit Us</h5>

            <p class="light">Carefully hidden away within the heart of Philadelphia's historic Downtown district, ABC Aikido offers all the convenience of the big city while preserving the more reserved nature of a traditional dojo. Visitors will be engaged by a helpful senior staff and will find our dojo community to be welcoming and ready to train!</p>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/endo6.jpg" alt="Unsplashed background img 1">
    </div>
  </div>


<!--   <div class="container">
    <div class="section">
 -->
      <!--   Icon Section   -->
<!--       <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lorem ipsum</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Lorem ipsum</h5>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Lorem ipsum</h5>
 -->
<!--             
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
        	
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/miyamoto2.jpg">
    </div>
  </div>
 -->
 
  </body>
</html>
