<html>
	<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu.JPG">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
            <h5 class="center">AIKIDO</h5>

            <h5 class="light">Aikido is the ever-evolving manifestation of principles and technical movements first envisioned by its founder, Ueshiba Morihei (O’ Sensei). Aikido is a traditional Japanese martial art which seeks to blend and harmonize with an attack rather than fight against it. The spontaneous, fluid, and dynamic movements utilized in Aikido may be used to unbalance an aggressor and render them harmless. An emphasis on traditional martial aspects such as proper timing, spacing, blending, and awareness are continually refined through our practice in our martial arts dojo. Aikido provides practitioners with a physical vehicle with which to train the body while also opening the door to deeper spiritual and philosophical avenues. I n the end, it is for each student to decide just how far along the path they will travel, or how much they wish to discover.</h5>
          <!-- </div> -->
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center light-blue-text"><i class="material-icons">group</i></h2> -->
            <h5 class="center">CLASSES</h5>

            <h5 class="light">Aikido classes are both comprehensive and dynamic. Seasoned Aikido practitioners as well as new students are always welcome to come and practice! Experienced practitioners as well as new students are always welcome and practice for the common goal of learning Aikido.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
            </h5>
          </div>
        </div>

        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2> -->
            <h5 class="center">VISIT US</h5>

            <h5 class="light"> A strong foundation in weapons training as well as our fluid style of ukemi, gives students the tools they will need to practice Aikido at the highest level. Seasoned Aikido practitioners as well as new students are always welcome to come and practice!

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;.
            </h5>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu6.JPG" alt="Unsplashed background img 1">
    </div>
  </div>


<!--   <div class="container">
    <div class="section">
 -->
      <!--   Icon Section   -->
<!--       <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lorem ipsum</h5>

          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Lorem ipsum</h5>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Lorem ipsum</h5>
 -->
<!--             
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
        	
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/miyamoto2.jpg">
    </div>
  </div>
 -->
 
  </body>
</html>
