<html lang="en">

	<body>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu.JPG">
    </div>
  </div>

  <div class="container">
    <!-- <div class="section"> -->
    <!-- <div class="row">
        <div class="col s12">
          <h5 class="red-text">WELCOME TO ABC AIKIDO</h5>
          <h6 class="light"><p>We are dedicated to promote training in the Japanese martial art of Aikido according to the principles taught by the founder, Morihei Ueshiba. Under the guidance of Shihan Yoshimitsu Yamada, Chief Instructor of the United States Aikido Federation (USAF), ABC Aikido maintains direct ties to the Aikikai Hombu Dojo (World Headquarters) in Tokyo, Japan. We work on developing clean technique through vigorous flowing practice as well as harmonizing mind and body through meditation and breathing.</p>
          
          <p>Carefully hidden away within the heart of San Francisco's historic Downtown district, ABC Aikido offers all the convenience of the big city while preserving the more reserved nature of a traditional dojo. Visitors will be engaged by a helpful senior staff and will find our dojo community to be welcoming and ready to train!</p>

          </h6>
        </div>
    </div>
 -->
    <!-- </div> -->
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m10">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2> -->
            <!-- <h5 class="red-text left">WELCOME TO ABC AIKIDO</h5> -->
          <h5 class="red-text">WELCOME TO ABC AIKIDO</h5>

            <h5 class="light">

            ABC Aikido is a traditional dojo dedicated to promote training in the Japanese martial art of Aikido according to the principles taught by the founder Morihei Ueshiba. Under the guidance of Shihan Yoshimitsu Yamada, Chief Instructor and Technical Adviser for the United States Aikido Federation, we work on developing clean technique through vigorous flowing practice as well as harmonizing mind and body through meditation and breathing.</h5>

            <h5 class="light">ABC Aikido a member of the United States Aikido Federation and maintains direct ties to the Aikido Hombu Dojo (World Headquraters) in Tokyo, Japan. Visitors with all levels of experience are welcome to train with us.
            </h5>

            <h7><i>ABC Aikido does not advocate, support, or practice unlawful discrimination based on age, ethnicity, gender, national origin, disability, race, size, religion, sexual orientation, or socio-economic background.</i></h7>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <!-- <h2 class="center light-blue-text"><i class="material-icons">group</i></h2> -->
            <!-- <h5 class="center">HEADING</h5> -->

            <!-- <h5 class="light"> Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus.     </h5> -->
          </div>
        </div>

        <div class="col s12 m4">
          <!-- <div class="icon-block"> -->
            <!-- <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2> -->
            <!-- <h5 class="center">HEADING</h5> -->

            <h5 class="light">

            <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. . -->
            </h5>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/doshu6.JPG" alt="Unsplashed background img 1">
    </div>
  </div>

 
  </body>
</html>
