
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/ki_sm.jpg" height="250px" width="200px" class="responsive-img"></p>
            <p></p>
            <!-- <p>Kai Huang, Nidan</p> -->

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p> Kai began practicing Japanese martial arts in 1991 at the age of 18. After earning a black belt in Shin Shin Toitsu Aikido and Muso Shinden Ryu Iaido, he continued his Aikido training in the United State Aikido Federation in Washington, D.C., New York, New Jersey, and Northern California. This gives him a well-balanced approach to his understanding of the art and teaching methodology. He currently holds the rank of Nidan in Aikido. 
              </p>
            </h6>
          </div>
				</div>
      </div>
    </div>
  </div>

<!--   <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/yamaguchi.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Seigo Yamaguchi, 9th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div> -->
