
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            
            <p><img src="imgs/profile.jpg" height="160px" width="160px" class="circle responsive-img"></p>
            <!-- <p><img src="imgs/circle.png" height="300px" width="200px" class="responsive-img"></p> -->

            <p>Kai Huang, Nidan</p>

          </div>
          <div class="col s6 center">
              <h6 class="left-align">
              <p>Kai began training in Japanese martial arts as a college student in 1991. After receiving his black belt in Shin Shin Toitsu Aikido in 1998, Kai continued his Aikido training in the United States Aikido Federation. Important influences in his Aikido are Koichi Tohei Sensei, Yoshimitsu Yamada Sensei, and various senior instructors in the United States Aikido Federation. </p>

              <p>Kai has taught Aikido in Virginia and Washington D.C. and has been a member of San Francisco Aikikai since 2009. Learning from many master teachers and highly ranked instructors across different Aikido organizations gives him a well-balanced approach to the art. Kai also holds the rank of Shodan in Muso Shinden Ryu Iaido.</p>
              </h6>
          </div>
				</div>
      </div>
    </div>
  </div>

 <!--  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/tamura.jpg" height="250px" width="200px" class="responsive-img"></p>
            <p>Nobuyoshi Tamura, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
            <p>Born in 1933 in Osaka, Tamura Sensei entered the Aikikai in 1952 as an uchi-deshi. He was one of O Sensei's favorite pupils and accompanied the Founder on numerous demonstrations as well as his only visit to the United States in Hawaii in 1961. Tamura Sensei moved to Marseilles, France, in 1964 as an official representative of the Aikikai and was a major influence in the enormous growth of Aikido in Europe and France.</p>

            <p>He has published several books on Aikido in French and was the National Technical Director (DTN) of the FFAB (French Federation of Aikido and Budō). In 1999 he received the medal of "Chevalier de l'ordre National du Mérite" from the French government. Tamura Sensei has tained master instructors in various countries. His former students include Jorge Rojo Gutierrez, Toshiro Suga, Pierre Chassang and Alain Peyrache.</p>
 -->
<!--               </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
 -->
  <!-- <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/tkchiba.jpeg" height="250px" width="200px" class="responsive-img"></p>
            <p>Kazuo Chiba, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Born in 1940, Chiba Sensei became an Aikikai uchi deshi in 1958. He moved to Great Britain in 1966 and was instrumental in the development of Aikido in Great Britain and Europe. In 1975, Chiba Sensei returned to Japan and served as Secretary of the International Department of Hombu Dojo and Assistant General Secretary of the International Aikido Federation.</p>

              <p>He moved to the United States in 1981 and founded San Diego Aikikai. Chiba Sensei was Chairman of the Teaching Committee of the Birankai International, Technical Director of the United Kingdom Aikikai, and Technical Director of the Tessokai Iaido Institute.</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/kanai.jpg" height="250px" width="200px" class="responsive-img"></p>
            <p>Mitsunari Kanai, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Born in 1938,  Kanai Sensei entered the Aikikai in 1958 as an uchi deshi. He came to the United States in 1966 and subsequently founded the New England Aikikai.</p>

              <p>Kanai Sensei was also a master of other Japanese martial arts and an expert in the use of the sword and staff. As one of the founders of the United States Aikido Federation and the Technical Director of Canadian Aikido Federation, he was instrumental in the early development of Aikido in the United States and Canada.</p></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/sugano.jpeg" height="250px" width="200px" class="responsive-img"></p>
            <p>Seiichi Sugano, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
            <p>Born in 1939 in Otaru, Hokkaido, Sugano Sensei entered the Aikikai around 1957 and became an uchi deshi about one year later. In 1965 he moved to Australia to introduce Aikido. He remained there for 15 years and founded Aikikai Australia.
            </p>

            <p>In 1979, at the request of Nobuyoshi Tamura, Sugano Sensei went to Europe and stayed in Belgium, Luxembourg and France. Starting in 1988, he resided in New York City and taught at the New York Aikikai.</p> 
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

 -->













