
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            
            <!-- <p><img src="imgs/profile.jpg" height="160px" width="160px" class="circle responsive-img"></p> -->
            <!-- <p><img src="imgs/circle.png" height="300px" width="200px" class="responsive-img"></p> -->

<!--             <h5 class="light center-align">
            Kai Huang</h5>
 -->
          </div>
          <div class="col s6 center">
              
              <!-- <h5 class="light left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5> -->

<!-- Kai began practicing Aikido in 1991 under George Simcox, 6th dan, in Charlottesville, Virginia. He received his shodan from Koichi Tohei Sensei in 1998. Since then the primary influence in his training were Yoshimitsu Yamada Sensei and various senior instructors in the United States Aikido Federation. 

Kai has taught Aikido in Virginia and Washington D.C. and has been a member of San Francisco Aikikai since 2009. Learning from many master teachers and highly ranked instructors gives him a well-balanced approach to training and teaching. Kai also holds the rank of shodan in Muso Shinden Ryu Iaido.
 -->

              <!-- <h5 class="light left-align">Kai was introduced to Japanese martial arts as a student at the University of Virginia in 1991. For the next 10 years he pursued Shin Shin Toitsu Aikido (心身統一合氣道) and Muso Shinden Ryu Iaido (夢想神伝流居合道) training and earned black belts in both arts. Since 2001 Kai has been training under the United States Aikido Federation and has taught Aikido in Virginia, Washington D.C., and California. </h5> -->

              <!-- <h5 class="light left-align">Learning from many master teachers and highly ranked instructors gives him a well-balanced approach to the art as well as teaching methodology. Kai currently holds the rank of Nidan in Aikido, Shodan in Shin Shin Toitsu Aikido, and Shodan in Muso Shinden Ryu Iaido.</h5>   -->

<!--          <h5 class="light left-align">
              Kai holds a master's degrees in business administration from Georgetown University. He is an accomplished translator, software developer, and  certified personal trainer specializingin firness nutrition.
-->
              </h5>
            </h6>
          </div>
				</div>

     <!--    <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/kotegaeshi.jpg" height="600px" width="400px" class="responsive-img"></p>
            <p></p>
            <h5 class="light center-align">
            Kai Huang</h5>

          </div>
          <div class="col s6 center">
            <h5 class="light left-align">
              Kai began practicing Japanese martial arts in 1991 under Ki no Kenkyukai (氣の研究会) in Washington, D.C. After earning his black belt in Shin Shin Toitsu Aikido (心身統一合氣道) and Muso Shinden Ryu Iaido (夢想神伝流居合道) in 1998, he continued Aikido training in the United States Aikido Federation in New York, New Jersey, Washington D.C., and San Francisco. Training under many master teachers and highly ranked instructors gives him a well-balanced approach to his understanding of the art and teaching methodology. Kai currently holds the rank of Nidan in Aikido and Shodan in Muso Shinden Ryu Iaido.  
              </h5>
            </h6>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/yamaguchi.jpg" class="responsive-img"></p>
            <p>Seigo Yamaguchi, 9th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
