
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/kotegaeshi.jpg" height="600px" width="400px" class="responsive-img"></p>
            <p></p>
            <h5 class="light center-align">
            Kai Huang</h5>

          </div>
          <div class="col s6 center">
            <h5 class="light left-align">
              Kai began practicing Japanese martial arts in 1991 under Ki no Kenkyukai (氣の研究会) in Washington, D.C. After earning his black belt in Shin Shin Toitsu Aikido (心身統一合氣道) and Muso Shinden Ryu Iaido (夢想神伝流居合道) in 1998, he continued Aikido training in the United States Aikido Federation in New York, New Jersey, Washington D.C., and San Francisco. Training under many master teachers and highly ranked instructors gives him a well-balanced approach to his understanding of the art and teaching methodology. Kai currently holds the rank of Nidan in Aikido and Shodan in Muso Shinden Ryu Iaido.  

              
              </h5>
            </h6>
          </div>
				</div>

     <!--    <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/kotegaeshi.jpg" height="600px" width="400px" class="responsive-img"></p>
            <p></p>
            <h5 class="light center-align">
            Kai Huang</h5>

          </div>
          <div class="col s6 center">
            <h5 class="light left-align">
              Kai began practicing Japanese martial arts in 1991 under Ki no Kenkyukai (氣の研究会) in Washington, D.C. After earning his black belt in Shin Shin Toitsu Aikido (心身統一合氣道) and Muso Shinden Ryu Iaido (夢想神伝流居合道) in 1998, he continued Aikido training in the United States Aikido Federation in New York, New Jersey, Washington D.C., and San Francisco. Training under many master teachers and highly ranked instructors gives him a well-balanced approach to his understanding of the art and teaching methodology. Kai currently holds the rank of Nidan in Aikido and Shodan in Muso Shinden Ryu Iaido.  
              </h5>
            </h6>
          </div>
        </div> -->
      </div>
    </div>
  </div>

<!--   <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/yamaguchi.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Seigo Yamaguchi, 9th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div> -->
