
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/tohei2.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Koichi Tohei, 10th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Koichi Tohei Sensei was awarded the highest rank (10th degree blackbelt) by Aikido Founder Morihei Ueshiba (O-Sensei) in 1969. After O-Sensei's death, Tohei Sensei continued as Chief Instructor of the Aikikai.

              Through understanding the principles of mind and body unification, Tohei Sensei had very clear ideas about the best way of teaching Aikido. These ideas were largely influenced by Nakamura Tempu Sensei and Tetsuju Ogura Sensei, two formative teachers of our Founder (Soshu) Tohei Sensei.

              Tohei Sensei introduced a system of teaching Ki. In 1971, Tohei Sensei founded the Ki no Kenkyukai. Its purpose is to teach the principles of Ki and realization of mind and body oneness.

              Koichi Tohei Sensei, the founder of Shinshin Toitsu Aikido (Ki-Aikido), passed away peacefully on 19th May 201. He was 91 years old.
              </p>
            </h6>
          </div>
				</div>
      </div>
    </div>
  </div>

  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/yamaguchi.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Seigo Yamaguchi, 9th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/tamura.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Nobuyoshi Tamura, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/kanai.jpg" height="400px" width="280px" class="responsive-img"></p>
            <p>Mitsunari Kanai, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="space"></div>
  <div class="space"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/chiba.jpeg" height="400px" width="280px" class="responsive-img"></p>
            <p>Kazuo Chiba, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/sugano.jpeg" height="400px" width="280px" class="responsive-img"></p>
            <p>Seiichi Sugano, 8th Dan</p>

          </div>
          <div class="col s6 center">
            <h6 class="left-align">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
              </p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

