
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/profile.jpg" height="160px" width="160px" class="circle responsive-img"></p>
            <p class="bold center-align">
            Kai Huang, Nidan</h5>
          </div>
          <div class="col s6 center">
            <p class="bold left-align">Kai began practicing Aikido in 1991 in Charlottesville, Virginia. After receiving Shodan in Shin Shin Toitsu Aikido (心身統一合氣道) in 1998, he continued his Aikido training Under Yoshimitsu Yamada Sensei in the United States Aikido Federation Eastern Region.</p> 

            <p class="bold left-align">Kai has taught Aikido in Virginia, Washington D.C., and San Francisco. Learning from many master teachers and high ranking instructors across different Aikido organizations gives him a well-balanced approach to the art. Kai also holds the rank of shodan in Muso Shinden Ryu Iaido (夢想神伝流居合道).</p>  
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <div class="col s6 center">
            <p><img src="imgs/tamura.jpg" height="250px" width="200px" class="responsive-img"></p>
            <p>Nobuyoshi Tamura, 8th Dan</p>

          </div>
          <div class="col s6 center">
            
            <p class="left-align">Born in 1933 in Osaka, Tamura Sensei entered the Aikikai in 1952 as an uchi-deshi. He was one of O Sensei's favorite pupils and accompanied the Founder on numerous demonstrations as well as his only visit to the United States in Hawaii in 1961. Tamura Sensei moved to Marseilles, France, in 1964 as an official representative of the Aikikai and was a major influence in the enormous growth of Aikido in Europe and France.</p>

            <p class="left-align">He has published several books on Aikido in French and was the National Technical Director (DTN) of the FFAB (French Federation of Aikido and Budō). In 1999 he received the medal of "Chevalier de l'ordre National du Mérite" from the French government. Tamura Sensei has tained master instructors in various countries. His former students include Jorge Rojo Gutierrez, Toshiro Suga, Pierre Chassang and Alain Peyrache.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

 -->