
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/Tamura4.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'> ZAZEN </h5>
        <h6 class='left-align'>
        <p>
          Numerous prominent martial artists in Japanese history came to find in Zen practice a vital element that informed their practice. Indeed, many of the qualities needed in Aikido training—the fearlessness, energy and focus required to plumb the depths of one’s own existence in the midst of conflict—are demanded in Zen as well. When the dualistic separation of “self” and “other” is transcended through the forging of deep mind-body training, the concept of an opponent loses all meaning. <br><br>
          It is important to cultivate the eyes to see that the substance is beyond forms, and to find true peace within tranquility of the mind. Only when this is thoroughly attained, paradoxically, are we not only able to see these forms in a positive light, but can we also bring to our lives many colorful flowers for our appreciation. As the Heart Sutra reads, “Form is exactly emptiness, emptiness is exactly form.” <br><br>

          Zazen, I believe, helps to cure or calm down the fever that man has been infected with throughout modern civilization, so that he or she can come to see the true-self and the quintessence of existing things. And most significantly, its value is found within simple practicality. It is equally open to anyone regardless of the various strings of the human condition. Through this simple practice, we are led to the world where mechanically fixed, established values that often do not belong to us may be reversed from the bottom up. And thus, we are able to return human quality to its original purity and peace for the universal liberation of man.         
        </p>
        </h6>
  </div>
</div>

