
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="row"><div class="container"><h2 class="left">AIKIDO PRINCIPLES</h2></div></div>
    <div class="parallax"><img src="imgs/zazen.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!-- <h5 class='center'> Ki Meditation </h5> -->

        <h5 class='light'>Training in Aikido principles focuses on the methods of meditation, controlled breathing, and dynamic relaxation; it is appropriate for almost all ages regardless of physical condition. 


        Students achieve mind and body coordination, calmness, and centeredness through this training and apply these principles in individual and partner exercises. The qualities developed in these classes are demanded in Aikido practice and self-defense situations as wel as in daily life.</h5>
          
<!--         <h5 class="light">Being calm in daily life can often be the difference between performing well and performing poorly. In extreme situations, it can even be the difference between life and death.Ki meditation focuses our mind to the one point in the lower abdomen. When the one point is infinitely condensed by half, mind and body are unified and true calmness is obtained.</h5>

 -->

<!--         <p>In this state, are we able to effectively manage whatever complexities the world may offer us. <br><br></p>
 -->          
<!--         Five Principles of Ki Meditation

        <li>You maintain a posture of mastery</li>

        <li>You are letting go, releasing, and have a sense of freedom</li>

        <li>You create an atmosphere of harmony</li>

        <li>You are vividly aware of the spirit of life in Universe itself</li>

        <li>Therefore, you can feel the movement of the Ki of the Universe</li>
 -->        
        

        <!-- <h5 class='center'> Ki Breathing </h5> -->
        


<!--         Five Principles of Ki Breathing

        <li>Breathe out with the sound of HA, gradually and purposefully</li>

        <li>Exhale as calmly and quietly as possible</li>

        <li>At the end of each breath, Ki continues infinitely like a fading sound</li>

        <li>Inhale from the tip of your nose until your body feels saturated with breath</li>

        <li>After inhaling, calm your mind infinitely at the One-Point</li> -->

        <!-- <h5 class='center'> Exercises </h5> -->

  </div>
</div>

