
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/zazen.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'> KI DEVELOPMENT </h5>
        <h6 class='left-align'>
        <p>
        Meditation
        </br>
        afddsfsdfafadadsfdsafsadfasdfsdfsdfdsaf

        </br></br>
        Ki Breathing
        <br>
        asdfdfsfsdfasfdsfdsfsd
        </br></br>
        
        
        
        </p>
        </h6>

  </div>
</div>

