
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/miyamoto3.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'></h5>
        <h6 class='left-align'>
        </h6>

        <div class="row">

          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/zFFXemMh0Ix2FuzkdKyIzh6s4Kt2Jn-d8G9ABRnAsoe5UzyuhOHIH-_35RZZXMg4m4ivZECiJJCCiw=w1167-h729-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/eoEFsMrs1k4vYrCiyhFA0wsFtbQLcvkYyZeWh3yb7FdkyCfr88w11PqkHA352rG_7n4j9h12ktk3ug=w1167-h729-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/rS33aj6Eazw1PKdw1ZfpjwX_ISR5hkJKBpBgPU68o9gzfomP1z5AuzSzr3IPVjreZSl6Coc2KlQU_Q=w810-h507-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/h9g_xdWmbzmly1a_nBsGOA683fRO82skCzBbdh4QslNsspD4Ni5BpNoVumDF8itpYn4VZyMCu650YQ=w1167-h729-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/ffX00IhAFKuri0H_S21oXJcr7DT-u-w4v67-uXe4JOEV75Dd5ni6pWsb0MWAgZqV0GS3jYQeqakmFQ=w1167-h729-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
          <div class="col s4 center">
            <p><img src="https://lh3.googleusercontent.com/DnGKRhV-YsDcISmgZoL8dv5EdNxR1P4D7foGKm9_el02DteUEKQUOb05TVNhiRMt9cE5OYac4qpQUQ=w1167-h729-rw-no" height="300em" width="300em" class="responsive-img"></p>
          </div>
        
        </div>

    </div>
  </div>

    <div class="container">
      <div class="section">

      <!-- <h5 class='center'>Videos</h5> -->
        <div class="video-container">
          <!-- <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe> -->
        </div>
<!--         <video class="responsive-video" controls>
          <source src="movie.mp4" type="video/mp4">
        </video> -->
      </div>
    </div>