
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/miyamoto3.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'>Photos</h5>
        <h6 class='left-align'>
        </h6>
    </div>
  </div>

    <div class="container">
      <div class="section">

      <h5 class='center'>Videos</h5>
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
<!--         <video class="responsive-video" controls>
          <source src="movie.mp4" type="video/mp4">
        </video> -->
      </div>
    </div>