

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/tohei3.jpg"></div>
  </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center"></div>
          <!-- <div class="col s6"> -->
            <!-- </div> -->
          <!-- <div class="col s6 left"> -->
            <h6 class="left-align">
           
            <p>Dojo</p>

            <p>Etiquette and manners, or Reigi Saho, is a fundamental part of life in a dojo setting. It is essential in the practice of Aikido, or any other form of Budo. It is vital to remember that Reigi Saho is a part of one’s daily Aikido practice, and should not be treated as optional conduct. Below are select, timeless principles for all students to adhere to.</p>

            <p>Aikido</p>
            <p>
            In Aikido, there are both physical and mental aspects of training. The physical training in aikido is diverse, covering both general physical fitness and conditioning, as well as specific techniques. Because a substantial portion of any aikido curriculum consists of throws, the first thing most students learn is how to safely fall or roll (ukemi).  The specific techniques for attack include both strikes and grabs; the techniques for defense consist of throws and pins. After basic techniques are learned, students study freestyle defense against multiple opponents, and techniques with weapons. Aikido students undergo periodic tests to provide a measure of their skill development and to foster their progression in Aikido. Testing frequency is determined primarily by a prescribed number of practice hours, as well as recommendation by the chief instructor.</p>

            <p>Aiki-Weapons</p>
            <p>
            Weapons training in aikido traditionally includes a wooden staff (jo), wooden sword (bokken), and wooden knife (tanto). Both weapon-taking and weapon-retention are taught, to integrate armed and unarmed aspects. The Aikido’s founder developed much of empty handed aikido from traditional sword and spear movements. Consequently, the practice of these movements both gives insight into the origin of techniques and movements, and reinforces the concepts of distance, timing, foot movement, presence and connectedness with one’s training partners. </p>

            <p>Iaido</p>
            <p>
            Iaido practices smooth, controlled movements of drawing the sword from its scabbard (saya), striking or cutting an opponent, removing blood from the blade, and then replacing the sword in the scabbard. While new practitioners of Iaido may start learning with a bokken, they eventually are expected to use a blunt-edged sword (iaito). Upon progression as recommended by the instructor, Iaido practitioners can use a sharp edged sword (shinken).
            </p>

            <p>Ki Development</p>
            <p>
            Meditation helps to cure or calm down the fever that man has been infected with throughout modern civilization, so that he or she can come to see the true-self and the quintessence of existing things. And most significantly, its value is found within simple practicality. It is equally open to anyone regardless of the various strings of the human condition. Through this simple practice, we are led to the world where mechanically fixed, established values that often do not belong to us may be reversed from the bottom up. And thus, we are able to return human quality to its original purity and peace for the universal liberation of man.
            </p>

            </h6>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>

