
  <div id="about" class="row"></div>
  <div class="space"></div>
  <div class="space"></div>
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
        <div class="row">

          <div class="col s12 center"></div>

          	<div class="col s6">
            	<p><img src="imgs/aikido.jpg" height="200px" width="250px" class="responsive-img"></p>
 		        </div>

          <div class="col s6 center">
            <h6 class="left-align">
              <p>
							<h6>Monday</h6> 
							6:30a - 7:30a (general/aikido principles)</br>
							6:15p - 7:15p (general)</br>
							7:30p - 8:30p (general)
							</p>
							
							<p>
							<h6>Tuesday</h6>
							6:30a - 7:30a (general/aikido principles)</br>
							6:15p - 7:30p (basics)</br>
							7:45p - 8:45p (iaido)
							</p>

							<p>
							<h6>Wednesday</h6>
							6:30a - 7:30a (general/aikido principles)</br>
							5:00p - 5:45p (children's aikido)</br>
							6:15p - 7:45p (aikido & basic weapons)</br>
							8:00p - 8:30p (advanced weapons)

							<p>
							<h6>Thursday</h6>
							6:30a - 7:30a (general/aikido principles)</br>
							6:15p -7:30p (basics)</br>
							7:45p - 8:45p (iaido - free practice)
							</p>
							<p>
							<h6>Friday</h6>
							6:30a - 7:30a (general/aikido principles)</br>
							6:15p - 7:45p (aikido & weapons)
							</p>
							<p>
							<h6>Saturday</h6>
							9:00a - 9:55a (iaido)</br>
							11:15a - 12:30p (basics)</br>
							1:00p - 2:00p (general)
							</p>
							<p>
							<h6>Sunday</h6>
							10:00a -11:00a (iaido - free practice)</br>
							11:00a -12:00p (general)
							</p>
						</p>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>

