
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <!-- <div class="row"><div class="container"><h2 class="left">Self Defense</h2></div></div> -->
    <div class="parallax"><img src="imgs/doshu5.JPG">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class="center">Private/Semi-private Lesson</h5>
      
      <h5 class='light'>People learn in a variety of styles and rhythms. Private and small group classes offer a different learning environment and students report a diverse set of benefits:</h5>

      <h5 class="light">
        <li>Focused attention from the teacher on your particular needs.</li>

        <li>Quiet environment with minimal distraction.</li>

        <li>Flexibility to repeat one movement until satisfied.</li>

        <li>Opportunity for more-self-directed learning.</li>

        <li>Safe environment to explore "what your body can do."</li>

        <li>Convenience of scheduling.</li>
      </h5>

      <h5 class="light">Lessons are tailored to the needs of the student. Instruction may include balance exercises, use of eyes, breath, refinement of upper and lower body coordination,  falling and rolling, utilizing ground forces, practice of empty-handed aikido techniques, sword, bokken or jo work. For many aikido students, a combination of private lessons along with regular group classes promotes accelerated progress.
      </h5>

    	<h5 class="center">Self-Defense</h5>
      <h5 class="light">Aikido is uniquely suitable as an effective method of self-defense because it is not based on muscle mass, strength or aggression. Its principles of absorption and redirection are designed to neutralize an attack and keep one out of harm’s way.</h5>
        
      <h5 class="light">Aikido training also brings out the best tools for any effective self-defense making use of intellect, intuition and instinct and employing effective techniques that can be applied to someone of any size. If attacked anyone can often prevail by using any or all of the above skills. And using those combined skills is what all Aikido practice is about.</h5>

      <h5 class="light">The content and format of self-defense and other special training may be customized based on students' needs. Contact us for more information on the options we offer.	</h5>

  </div>
</div>

