
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
 <!--          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a> -->
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="imgs/tohei3.jpg"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center"></div>

        <div class="col s10 left">
          <h5 class="left-align"><a href="http://www.usaikifed.com">United States Aikido Federation</a> Kyu/Dan Test Requirements</h5>
          <h6 class="left-align">

          <p class="pink-text">Test requirements are cumulative. Students may be asked to perform techniques from previous exams. Counting the required number of practice days begins from zero after each successful exam.</p>
          <hr>
          <p>6th Kyu 六級 (20 practice days)</p>
            
          1. Seiza (a) Bowing/Rei (b) Rise from seiza</br>

          2. Shikko*</br>

          3. Hanmi (a) Migi hanmi (b) Hidari hanmi</br>

          4. Ukemi (a) Ushiro ukemi (1) Back fall (2) Back roll* (b) Mae ukemi*</br>

          5. Kokyu undo (a) Funakogi undo (b) Ikkyo undo</br>

          6. Tai sabaki (a) Tenkan (b) Irimi (c) Irimi tenkan (d) Tenshin</br>

          7. Hanmi (with partner) (a) Ai hanmi (b) Gyaku hanmi</br>
          
          8 Striking Attacks (w/partner) (a) Tsuki (b)Yokomenuchi (c) Shomenuchi </br>

          9. Taino henko (w/partner) as both uke nad nage</br>
          
          10. Kokyudosa - Zagi kokyuho (sitting)(w/partner)</br>
          <hr>
          
          <p>
          5th Kyu 五級 (40 practice days)</p>

          1. Shomenuchi Ikkyo (omote & ura)</br>

          2. Shomenuchi Iriminage</br>

          3. Katatetori Shihonage (omote & ura)</br>

          4. Ryotetori Tenchinage (omote & ura)</br>

          5. Tsuki Kotegaeshi</br>

          6. Ushiro Tekubitori Kotegaeshi (omote & ura)</br>

          7. Morotetori Kokyuho (omote & ura)</br>
          <hr>

          <p>4th Kyu 四級 (80 practice days)</p>

          1. Shomenuchi Nikkyo (omote & ura)</br>

          2. Yokomenuchi Shihonage (omote & ura)</br>

          3. Tsuki Iriminage</br>

          4. Ushiro Tekubitori Sankyo (omote & ura)</br>

          5. Ushiro Ryokatatori Kotegaeshi (omote & ura)</br>

          6. Suwari waza Shomenuchi Ikkyo (omote & ura)</br>

          7. Suwari waza Katatori Nikkyo (omote & ura)</br>

          8. Suwari waza Katatori Sankyo (omote & ura)</br>
          <hr>

          <p>3rd Kyu 三級 (100 practice days)</p>

          1. Yokomenuchi Iriminage (2 ways)</br>

          2. Yokemenuchi Kotegaeshi (omote & ura)</br>

          3. Tsuki Kaitenage (omote & ura)</br>

          4. Ushiro Ryokatatori Sankyo (omote & ura)</br>

          5. Morotetori Iriminage (2 ways)</br>

          6. Shomenuchi Sankyo (omote & ura)</br>

          7. Suwari waza Shomenuchi Iriminage</br>

          8. Suwari waza Shomenuchi Nikkyo (omote & ura)</br>

          9. Hanmi handachi Katatetori Shihonage (omote & ura)</br>

          10. Hanmi handachi Katatetori Kaitennage (uchi & soto mawari)**</br>

           <hr>

          <p>2nd Kyu 二級 (200 practice days)</p>
          Seminar attendance is encouraged </br>
          1. Shomenuchi Shihonage (omote & ura)</br>

          2. Shomenuchi Kaitennage (omote & ura)</br>

          3. Yokomenuchi Gokyo (omote & ura)</br>

          4. Ushiro Tekubitori Shihonage (omote & ura)</br>

          5. Ushiro Tekubitori Jujinage (omote & ura)</br>

          6. Ushiro Kubishime Koshinage</br>

          7. Morotetori Nikkyo (omote & ura)</br>

          8. Hanmi handachi Shomenuchi Iriminage</br>

          9. Hanmi handachi Katatetori Nikkyo (omote & ura)</br>

          10. Hanmi handachi Yokemenuchi Kotegaeshi (omote & ura)</br>

          11. Freestyle: 2 attackers</br>
          <hr>

          <p>1st Kyu 一級 (300 practice days)</p>
          Seminar attendance is strongly encouraged </br>

          1. Katatori Menuchi -5 techniques</br>

          2. Yokomenuchi -5 techniques</br>

          3. Morotetori -5 techniques</br>

          4. Shomenuchi -5 techniques</br>
          5. Tsuki - 5 techniques </br>
          6. Ryotetori -5 techniques</br>

          7. Koshinage -5 techniques</br>

          8. Hanmi handachi Ushiro Waza – 5 technique</br>

          9. Tantotori</br>

          9. Freestyle: 3 attackers</br>
          <hr>
          <p>Shodan 初段 (300 practice days/Not < 1 year after 1st kyu)</p>
          Must attend one seminar per year</br>

          All Kyu requirements including all forms of grasping shoulders, elbows, collar, wrists and hands; all techniques from the rear.</br>
          1. Suwari waza shomenuchi ikkyo - gokyo</br>
          2. Tachitori</br>
          3. Jotori and Jo waza</br>
          4. Henka Waza</br>
          5. Freestyle: 4 attackers</br>
          <hr>

          <p>Nidan 二段 (600 practice days/Not < 2 years after shodan)</p>
          Must attend two seminars per year</br>
          1. All of Shodan requirements</br>
          2. Suwari waza shomenuchi ikkyo - gokyo</br>
          3. Tachitori – 2 attackers</br>
          4. Kaeshi Waza</br>
          5. Freestyle: 5 attackers</br>
          <hr>

          <p>Sandan 三段 (700 practice days/Not < 3 years after nidan)</p>
          Must attend two seminars per year.
          Subject of exam to be determined by examiner at the time of the exam.
          <hr>
          
          <p>Yondan 四段 (Not < 4 years after sandan)</p>
          Must attend two seminars per year.
          Subject of exam to be determined by examiner at the time of the exam.
          <hr>
          *Instructor's option depending on age and ability.<br>
          **Uchi & soto mawari - Both inside (Uchi) and outside (Soto) movements.
        </h6><hr>

      </div>
      <br><br><br><br><br><br>

        <strong>Nomenclature</strong></p>

        <strong>Hanmi handachi</strong> -
        Uke standing and nage standing</p>

        <strong>Henka waza</strong> - Switching from one technique to another. Examiner will call the first technique</p>

        <strong>Jiyuwaza</strong> -
        Interval attacks with nage varying techniques</p>
        
        <strong>Jo tori</strong> -
        Disarm attacker of jo</p>
        
        <strong>Jo waza</strong> - Techniques performed with jo</p>
        
        <strong>Katatetori</strong> - One hand grab to wrist</p>

        <strong>Tachi tori</strong> - Disarm attacker of bokken</p>

        <strong>Tsuki</strong> - Thrust or punch with closed fist</p>

        <strong>Undo</strong> - Exercise</p>

        <strong>Ushiro Kubishime</strong> - Choke from behind with wrist grab</p>

        <strong>Ushiro Ryokatadori</strong> - Both shoulders held from behind</p>

        <strong>Ushiro Tekubitori</strong> - Both wrists held from behind</p>

        <strong>Waza</strong> - 
        Technique</p>

        <strong>Yokomenuchi</strong> - 
        Strike to side of head </p>
        
        <strong>Zagi</strong> - 
        Sitting-active posture</p>

    </div>
  </div>
</div>

