
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <!-- <div class="row"><div class="container"><h2 class="center">WEAPONS</h2></div></div> -->
    <div class="parallax"><img src="imgs/tamura1.jpg">
    </div>
  </div>

  <div class="container">
    <div class="section">

      <h5 class='center'> <!-- WEAPONS CLASSES --> </h5>
        <h5 class='light'> Aikido is a true Budo or “martial way.” Throughout the history of martial combat weapons have been utilized on the field of battle. It is therefore imperative to one’s martial training to foster an understanding of armed philosophy. The bokken (wooden sword) and jo (wooden staff) are employed to help demonstrate to students the essential elements of technique, such as proper timing, spacing, and an understanding of the line of attack.</h5>

        <h5 class='light'>Three principal weapons used in Aikido are the jo (staff), bokken (Japanese wooden sword) and tanto (knife). By training with weapons, students get a better understanding of general Aikido principles, such as ma-ai (proper distancing from an attacker), and moving off the line of attack.</h5>

        <h5 class='light'>Training in the weapons program is introduced immediately to new students and is not reserved for students of advanced rank or experience. In fact, we encourage our new practitioners to begin with a weapons class, as the progression to empty-hand techniques will then flow more logically and naturally.</h5>

  </div>
</div>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center"></div>
      </div>
    </div>
    <div class="parallax"><img src="imgs/tamura3.JPG">
    </div>
  </div>
