<form action="/posts" method="post">

<p><input type="text" placeholder="title" name = "title"></input></p>

<p><textarea type="text" placeholder="content" name = "content"></textarea></p>

<input type="submit" value="Add it"/>
</form>
