 <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class =white-text>ABC Aikido</h5>
          <h6 class="white-text">
          <p class="grey-text text-lighten-4">
          2550 Tamalpais Avenue</br>
          El Cerrito, CA 94530</br>
          (917) 518-6181
          <a class="white-text" href="mailto:huangkc05@gmail.com">
          <p class="light-blue-text"><i class="small material-icons">email</i></p>
          </a>
          </h6>
        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Pages</h5> -->
          <ul>
            <li class="hoverable"><a class="orange-text" href="/aikido">What is Aikido?</a></li>
            <li class="hoverable"><a class="orange-text" href="/about">Anout Us</a></li>
            <li class="hoverable"><a class="orange-text" href="/instructors">Instructors</a></li>
            <li class="hoverable"><a class="orange-text" href="/schedule">Class Schedule</a></li>
            <li class="hoverable"><a class="orange-text" href="/fees">Fees</a></li>
            <li class="hoverable"><a class="orange-text" href="/contact">Contact Us</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul>
            <li class="hoverable"><a class="orange-text" href="http://www.aikikai.or.jp/eng/index.html">Aikikai Hombu Dojo</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.usaikifed.com">United States Aikido Federation</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.sfaikikai.net">San Francisco Aikikai</a></li>

            <li class="hoverable"><a class="orange-text" href="http://dojo.endoseishiro.info/dojo/51">Saku Dojo</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.sanshinkai.org">North American San Shin Kai</a></li>

          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p class="black-text center">copyright 2016 ABC Aikikai</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
