<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/home/cleanblog/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/home/cleanblog/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head> 

 <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <a href="/home"><h5 class =white-text>ABC Aikido</h5></a>
          <h6 class="white-text">
            <p class="grey-text text-lighten-4">
            2550 Tamalpais Avenue</br>
            El Cerrito, CA 94530</br>
            (917) 518-6181<br>
            <a class="white-text" href="mailto:ock211@aol.com">
            abcdojo@gmail.com
            </a><br><br>
          </h6>
        </div>
        <div class="col l4 s12">
          <!-- <h5 class="white-text">Pages</h5> -->
          <ul>
            <li class="hoverable"><a class="orange-text" href="/aikido">Aikido</a></li>
            <li class="hoverable"><a class="orange-text" href="/instructors">Instructor</a></li>
            <li class="hoverable"><a class="orange-text" href="/schedule">Class Schedule</a></li>
            <li class="hoverable"><a class="orange-text" href="/fees">Fees</a></li>
            <li class="hoverable"><a class="orange-text" href="/adult_class">Aikido Adults</a></li>
            <li class="hoverable"><a class="orange-text" href="/ki">Aikido Principles</a></li>
            <li class="hoverable"><a class="orange-text" href="/weapons">Aiki-Weapons</a></li>
            <li class="hoverable"><a class="orange-text" href="/iaido">Iaido</a></li>
            <li class="hoverable"><a class="orange-text"href="/special">Special Training</a></li>
            <li class="hoverable"><a class="orange-text"href="/etiquette">Dojo Etiquette</a></li>
            <li class="hoverable"><a class="orange-text"href="/events">Events</a></li>
            <li class="hoverable"><a class="orange-text"href="/testing">Testing Requirements</a></li>
          </ul>
        </div>
        <div class="col l4 s12">
          <!-- <h5 class="white-text">Links</h5> -->
          <ul>
            <li class="hoverable"><a class="orange-text" href="http://www.aikikai.or.jp/eng/index.html">Aikikai Hombu Dojo</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.usaikifed.com">United States Aikido Federation</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.aikidocenters.com">Aikido Centers of New Jersey</a></li>            
            <li class="hoverable"><a class="orange-text" href="http://www.capitalaikikai.org">Capital Aikido Federation</a></li>            
            <li class="hoverable"><a class="orange-text" href="http://www.CornellAikidoClub.com">Cornell Aikido Club</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.sanshinkai.org">North American San Shin Kai</a></li>

            <li class="hoverable"><a class="orange-text" href="http://dojo.endoseishiro.info/dojo/51">Saku Dojo</a></li>

            <li class="hoverable"><a class="orange-text" href="http://www.sfaikikai.net">San Francisco Aikikai</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row center">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>



    <div class="footer-copyright">
      <div class="container">
      <p class="dark-blue-text center">copyright 2018 ABC Aikido</p>

      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
