<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Header</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  
  <div class="navbar-fixed">
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="red-text brand-logo">ABC Aikido</a>
            <!-- <img src="imgs/circle.png" height="100px" width="80px" class="responsive-img"></a> -->


        <ul class="right hide-on-med-and-down">
        <li><a href="/aikido">Aikido</a></li>

<!--           <li><a class='dropdown-button' data-beloworigin="true" data-activates='dropdown1'>About</a></li>
            <ul id='dropdown1' class='dropdown-content'>
              <li><a href="/aikido">What is Aikido</a>
              </li>
              <li><a href="/about">About Us</a></li>
            </ul>
 -->
          <li><a class='dropdown-button' data-beloworigin="true" data-activates='dropdown2'>Dojo</a></li> 
            <ul id='dropdown2' class='dropdown-content'>
              <li><a href="/instructors">Instructors</a></li>
              <li><a href="/schedule">Class Schedule</a></li>
              <li><a href="/fees">Fees</a></li>
              
            </ul>

          <li><a class='dropdown-button' data-beloworigin="true" data-activates='dropdown3' href="#">Programs</a></li>
          <ul id='dropdown3' class='dropdown-content'>  
              <li><a href="/adult_class">Aikido Adults</a></li>
              <!-- <li><a href="/children_class">Children</a></li> -->
              <li><a href="/ki">Aikido Principles</a></li>
              <li><a href="/weapons">Aiki-Weapons</a></li>
              <li><a href="/iaido">Iaido</a></li>
              <li><a href="/special">Special Training</a></li>
          </ul> 

          <li><a href="/events">Events</a></li>
          <li><a class='dropdown-button' data-beloworigin="true" data-activates='dropdown4' href="#">Resources</a></li>
          <ul id='dropdown4' class='dropdown-content'>  
            <li><a href="/etiquette">Dojo Etiquette</a></li>
              <!-- <li><a href="/newstudent">For New Students</a></li> -->
              <li><a href="/testing">Testing Requirements</a></li>
              <!-- <li><a href="/media">Media</a></li> -->
              <!-- <li><a href="/blog">Blog</a></li> -->
          </ul>

            <!-- <li><a class='dropdown-button' data-beloworigin="true" data-activates='dropdown5' href="#">Contact Us</a></li> -->
            <!-- <ul id='dropdown5' class='dropdown-content'>   -->
              <!-- <li><a href="/directions">Contact</a></li> -->
              <!-- <li><a href="/contact">Contact Us</a></li> -->
            <!-- </ul> -->
        </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="/aikido">What is Aikido</a></li>
            <!-- <li><a href="/about">About Us</a></li> -->
            <li><a href="/instructors">Instructors</a></li>
            <li><a href="/schedule">Class Schedule</a></li>
            <!-- <li><a href="/blog">Blog</a></li> -->
            <li><a href="/fees">Fees</a></li>
            <li><a href="/adult_class">Aikido Adults</a></li>
            <!-- <li><a href="/children_class">Children</a></li> -->
            <li><a href="/ki">Aikido Principles</a></li>
            
            <li><a href="/weapons">Aiki-Weapons</a></li>
            <li><a href="/iaido">Iaido</a></li>
            <li><a href="/special">Special Training</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/etiquette">Dojo Etiquette</a></li>
            <!-- <li><a href="/newstudent">For New Students</a></li> -->
            <li><a href="/testing">Testing Requirements</a></li>
            <!-- <li><a href="/media">Media</a></li> -->
            <!-- <li><a href="/directions">Contact</a></li> -->

            <!-- <li><a href="/directions">Contact Us</a></li> -->
            <!-- <li><a href="/contact">Contact Us</a></li> -->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  </body>
</html>
